body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f3f4f6;
}

.panel {
  min-height: 100vh;
}
.logout {
  padding: 5px 10px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  width: 70px;
  height: 40px;
 
}
.header {
  background: white;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 10px;
  padding: 20px;
}

.menu button {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.menu .active {
  background: #e3f186;
  color: white;
}

.dashboard-header {
  background: white;
  margin: 0 20px;
  padding: 15px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  
}
.filtros {
 display: flex;            
  justify-content: center;  
  align-items: center;      
  gap: 10px;                
  width: 100%;
  font-weight: bold;
}
.filtros button {
  padding: 6px 12px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  
}

.filtros .activo {
  background: #9fe462;
  color: rgb(236, 240, 237);
  font-weight: bold;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 15px;
  padding: 20px;
}

.card {
  color: #141212;
  padding: 20px;
  border-radius: 15px;
  font-size: 18px;
  font-weight: bold;
  align-items: center;
}

.green { background: #9fe462; }
.blue { background: #3f6095; }
.purple { background: #8e71a9; }
.orange { background: #836652; }

.box {
  background: rgb(246, 242, 242);
  margin: 20px;
  padding: 15px;
  border-radius: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  padding: 10px;
}

td {
  padding: 15px;
}

.empty {
  text-align: center;
  color: gray;
  padding: 30px;
}